node_modules/*
!node_modules/vue3-excel-editor/
node_modules/vue3-excel-editor/*
!node_modules/vue3-excel-editor/src/
node_modules/vue3-excel-editor/src/*
!node_modules/vue3-excel-editor/src/VueExcelEditor.vue
# !node_modules/vue3-excel-editor/src/VueExcelEditor.vue
/public/hot
/public/storage
/public/build
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
